# =========================
# Docker build 제외 목록
# =========================

# Python 관련 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
venv/
.env
.env.*

# 노드 모듈
node_modules/
frontend/node_modules/

# IDE 설정
.vscode/
.idea/
.DS_Store

# 로그 / 임시 파일
*.log
*.tmp
*.bak

# 빅데이터 파일
*.csv
*.parquet

# =========================
# static 제외 (이미지 등)
# =========================
backend/static/