# Ignore Node.js modules
node_modules/

# Ignore Python virtual environment
backend/venv/

# Ignore React build output
frontend/build/
frontend/node_modules/

# Ignore Python cache files
**/__pycache__/
*.pyc
*.log

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore environment variables file
.env
